.CRM-box{
    background: #ff1300;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding:0.1rem;
    .CRM-header{
        color:#fff;
        font-size: 0.38rem;
        width: 100%;
        box-sizing: border-box;
        padding:0.2rem;
    }
}